<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ICIN Bank - Admin Home</title>
</head>
<body>
    <div class="container">
        <h2>Welcome, Admin!</h2>
        <div class="options">
            <a class="nav-link" routerLink="/register">Register New Users</a> <br>
            <a class="nav-link" routerLink="/accounts"> Manage Accounts </a> <br>
            <a class="nav-link" routerLink="/user/block">Block Users</a> <br>
            <a class="nav-link" routerLink="/checkbook">Checkbook Authorization</a> <br>
        </div>
    </div>
</body>
</html>

