<div class="container">
    <div class="back-button-container">
        <a routerLink="/admin/home" class="back-button">Back</a>
    </div>
    <h2 class="list-checkbook-title">Checkbook Requests</h2>

    <div class="row">
        <div class="col-md-4">
            <input type="text"
                [(ngModel)]="filters.keyword"
                name="keyword"
                (input)="loadCheckbookRequests()" 
                class="form-control"
                placeholder="Filter checkbook requests"/>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Account Type</th>
                <th>Username</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of checkbookRequests">
                <td>{{ request.account.accountNumber }}</td>
                <td>{{ request.account.accountType }}</td>
                <td>{{ request.account.user.username }}</td>
                <td>{{ request.status }}</td>
                <td>
                    <button (click)="approveRequest(request.id)">Approve</button>
                    <button (click)="denyRequest(request.id)">Deny</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
